@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tokens */
:root {
  --color-primary: 20 20 20; /* Text, buttons, etc. */
  --color-contrast: 250 250 249; /* Backgrounds, borders, etc. */
  --color-accent: 191 72 0; /* Labels like "On sale" */
  --font-size-fine: 0.75rem; /* text-xs */
  --font-size-copy: 1rem; /* text-base */
  --font-size-lead: 1.125rem; /* text-lg */
  --font-size-heading: 2rem; /* text-2xl */
  --font-size-display: 3rem; /* text-4xl */
  --color-shop-pay: #5a31f4;
  --shop-pay-button--width: 100%; /* Sets the width for the shop-pay-button web component */
  --height-nav: 3rem;
  --screen-height: 100vh;
  --screen-height-dynamic: 100vh;

  @media (min-width: 32em) {
    --height-nav: 4rem;
  }
  @media (min-width: 48em) {
    --height-nav: 6rem;
    --font-size-heading: 2.25rem; /* text-4xl */
    --font-size-display: 3.75rem; /* text-6xl */
  }
  @supports (height: 100svh) {
    --screen-height: 100svh;
  }
  @supports (height: 100dvh) {
    --screen-height-dynamic: 100dvh;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 250 250 250;
    --color-contrast: 32 33 36;
    --color-accent: 235 86 40;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

shop-pay-button {
  width: 100%;
  height: 3rem;
  display: table;
}

@layer base {
  * {
    font-variant-ligatures: none;
  }

  body {
    @apply border-primary/10 bg-contrast text-primary/90 antialiased;
  }

  html {
    scroll-padding-top: 10rem;

    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  }

  model-viewer::part(default-progress-mask) {
    display: none;
  }

  model-viewer::part(default-progress-bar) {
    display: none;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  a.active {
    @apply border-b;
  }

  .prose {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:first-child {
        @apply mt-0;
      }
    }
  }
}

@layer components {
  .article {
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-sans text-primary;
    }
    @apply prose mx-auto mb-12 grid justify-center font-serif text-primary;
    p,
    /* ul,
    li {
      @apply mb-4 text-lg;
    } */
    img {
      @apply md:-mx-8 lg:-mx-16;

      @media (min-width: 48em) {
        width: calc(100% + 4rem);
        max-width: 100vw;
      }
      @media (min-width: 64em) {
        width: calc(100% + 8rem);
      }
    }
  }

  .swimlane {
    @apply grid w-full snap-x snap-mandatory scroll-px-6 grid-flow-col justify-start gap-4 overflow-x-scroll px-6 pb-4;
  }
}

@layer utilities {
  .fadeIn {
    opacity: 0;
    animation: fadeInAnimation ease 500ms forwards;
  }

  .hiddenScroll {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .strike {
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 108%;
      height: 1.5px;
      left: -4%;
      top: 50%;
      transform: translateY(-50%);
      background: rgb(var(--color-primary));
      box-shadow: 0.5px 0.5px 0px 0.5px rgb(var(--color-contrast));
    }
  }

  .card-image {
    @apply relative flex items-center justify-center overflow-clip rounded;
    &::before {
      content: ' ';
      @apply absolute top-0 left-0 z-10 block h-full w-full rounded shadow-border;
    }
    img {
      @apply aspect-[inherit] w-full object-cover;
    }
  }
}













.index_container__5ZXUv .index_weblink__G2Jvn {
  display: inline-block;
}
.index_container__5ZXUv .index_upload__k-0Mt {
  display: inline-block;
  margin-left: 12px;
}

.index_container__O1383 {
  min-height: 378px;
  max-height: 598px;
}
.index_container__O1383 .index_uploadContainer__vmgEu {
  margin-top: 40px;
  overflow: auto;
}

.index_container__Wpd4z .index_headerTitle__1rZfa {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.index_container__Wpd4z .index_headerTitle__1rZfa .index_title__qf3SU {
  color: rgba(0, 0, 0, 0.6);
}
.index_container__Wpd4z .index_desc__EJxCb {
  color: #AFAEAE;
  margin-top: 2px;
  font-size: 14px;
  line-height: 22px;
}

.index_container__d9ciQ {
  display: flex;
  flex-direction: column;
}
.index_container__d9ciQ .index_section__-dMl1 {
  margin-top: 40px;
}
.index_container__d9ciQ .index_section__-dMl1 .index_sectionTitle__z-in- {
  margin-bottom: 12px;
}
.index_container__d9ciQ .index_section__-dMl1 .index_textArea__-6tlw {
  height: 280px;
}
.index_container__d9ciQ .index_Recrawl__MvtqU {
  margin-top: 20px;
}

.index_container__hjDdR {
  height: 38px;
}
.index_container__hjDdR h4 {
  color: #6fa293 !important;
  position: relative;
  display: inline-block;
}
.index_container__hjDdR h4::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -8px;
  height: 4px;
  border-radius: 4px;
  background-color: #6fa293;
}

.index_title__cfLEd {
  margin-left: 12px;
  margin-right: 12px;
}
.index_container__zgk7N {
  overflow-y: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.index_hiddenScrollbar__-4tz8 {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.index_hiddenScrollbar__-4tz8 -webkit-scrollbar {
  display: none;
}
.index_hiddenScrollbar__-4tz8::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: none;
}

/* For modern browsers */
.index_input__pzc2j::-moz-placeholder {
  color: #afaeae;
}
.index_input__pzc2j::placeholder {
  color: #afaeae;
}
/* For older WebKit browsers */
.index_input__pzc2j::-webkit-input-placeholder {
  color: #afaeae;
}
/* For older Firefox browsers */
.index_input__pzc2j::-moz-placeholder {
  color: #afaeae;
  opacity: 1;
  /* Required to style 'color' in older Firefox browsers */
}
/* For Internet Explorer 10+ */
.index_input__pzc2j:-ms-input-placeholder {
  color: #afaeae;
}

.picture_fullScreenType__BOr80 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 20;
}
.picture_widgetTypeExpanded__-vdI0 {
  width: 114px;
  height: 148px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  z-index: 50;
  pointer-events: 'auto';
}
.picture_widgetTypeUnExpanded__6rZLq {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #D8D8D8;
  pointer-events: 'auto';
}

.icon_fullScreenType__EZz-J {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 20;
  border-radius: 50%;
}
.icon_widgetTypeExpanded__Zf-LB {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 20px;
  bottom: 14px;
  z-index: 50;
  border-radius: 50%;
}
.icon_widgetTypeUnExpanded__921Hj {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 20px;
  bottom: 14px;
  border-radius: 50%;
}

.index_scrollView__CAC8Z {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}
.index_scrollView__CAC8Z::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Opera */
}
.index_item__pRr-- {
  display: inline-flex;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-radius: 31px;
  padding: 4px 20px;
  background: #ffffff;
  margin-right: 10px;
  color: #6fa293;
  vertical-align: middle;
  cursor: pointer;
  align-items: center;
}
